.input-card {
  min-width: 800px;
  .input-group {
    display: flex;
    justify-content: center;
    padding: 5rem;

    input {
      min-width: 600px;
      border-radius: 10px 0px 0px 10px;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      font-size: 18px;
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 0.5rem 2rem;
      border: none;
      outline: none;
      border-radius: 0px 10px 10px 0px;
      font-weight: 600;
      background-color: #4d96ff;
      cursor: pointer;
    }
  }
}
