.login-screen {
  position: absolute;
  z-index: 1;
  background-color: rgba(#000000, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  .login-card {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 300px;
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .welcome-text {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 2rem;
      width: 100%;
    }

    .login-form {
      display: flex;
      align-items: center;
      flex-direction: column;
      .username-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .user-icon {
          background-color: $primary-color;
          width: 40px;
          height: 40px;
          padding: 0.5rem;
          color: $white;
        }
        .name-input {
          min-width: 300px;
          padding: 0.2rem 0rem 0.2rem 1rem;
          font-size: 1rem;
          height: 40px;
          background-color: $white2;
          outline: none;
          border: none;
          font-weight: 500;
        }
      }

      .login-btn {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 2rem;
        border-radius: 10px;
        min-width: 200px;
        background-color: $primary-color;
        color: $white;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.login-screen.dark {
  background-color: $gray !important;
  .login-card {
    background-color: $dark;

    .welcome-text {
      color: $white2;
    }

    .login-form {
      .username-container {
        .user-icon {
          background-color: $dark-blue;
          color: $white2;
        }
        .name-input {
          background-color: $white;
        }
      }

      .login-btn {
        background-color: $dark-blue;
        color: $white;
      }
    }
  }
}
