.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #b2a4ff;
  .icon {
    font-size: 1.3rem;
    cursor: pointer;
  }
  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .search-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      position: relative;
      .search {
        outline: none;
        border-radius: 10px;
        border: none;
        min-width: 300px;
        padding: 0.4rem;
        padding-left: 2rem;
      }
      .search-icon {
        position: absolute;
        left: 5px;
      }
    }
  }
  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .user-icon {
      font-size: 1.5rem;
      cursor: pointer;
      background-color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
