.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    min-width: 900px;
    max-width: 900px;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray;
    .checkbox {
      width: 1.3em;
      height: 1.3em;
      background-color: $white;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid $gray;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      &:checked {
        appearance: auto;
        clip-path: circle(50% at 50% 50%);
      }
    }
    .task-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.5rem;
      min-width: 700px;
      max-width: 700px;
      word-wrap: break-word;
    }
    .card-btn {
      .delete {
        margin: 6px;
        cursor: pointer;
      }
      .edit {
        margin: 6px;
        cursor: pointer;
      }
    }
  }
}

.task-list.dark {
  .task-card {
    background-color: $dark;

    .card-btn {
      color: $white2;
    }
  }
  .task-card.selected {
    background-color: #19376d !important;
  }
  .task-text.check {
    text-decoration: line-through;
    color: $white2 !important;
  }
}

.task-card.selected {
  background-color: $primary-color !important;
  color: $white2;
}

.task-text.check {
  text-decoration: line-through;
  color: $dark;
}

@media only screen and (max-width: 900px) {
  .task-list {
    .task-card {
      min-width: 600px;
      max-width: 600px;
      .task-text {
        min-width: 300px;
        max-width: 300px;
      }
    }
  }
  .no-task {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 610px) {
  .task-list {
    .task-card {
      min-width: 400px;
      max-width: 400px;
      .task-text {
        min-width: 200px;
        max-width: 200px;
      }
    }
  }
  .no-task {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 460px) {
  .task-list {
    .task-card {
      min-width: 350px;
      max-width: 350px;
      .task-text {
        max-width: 100px;
        font-size: 0.9rem;
      }
      .card-btn {
        .delete {
          margin: 3px;
          font-size: 13px;
        }
        .edit {
          margin: 3px;
          font-size: 13px;
        }
      }
    }
  }
  .no-task {
    font-size: 0.8rem;
  }
}
