@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body,
.app {
  font-family: "Poppins", sans-serif !important;
  background-color: $white;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
}

.line {
  text-decoration: line-through;
}

.hide {
  visibility: hidden;
}
.active {
  display: none;
}

.dark {
  background-color: $gray;
  color: #fff;
}
